@charset "utf-8";
/* CSS Document */

body,html
{
	padding:0px;
	margin:0px;
	font-family: "Microsoft JHengHei" ;
	background-image: linear-gradient(to right top, #744487, #387ec8, #00b3df, #1de0cf, #6a95c4); 

}

#cover{
	width:100%;
	height:100%;
	position:fixed;
	z-index:5;
	background:rgba(51,51,51,0.4);
	top:0px;
	left:0px;
	overflow:auto;
}

#coverr{
	width:70%;
	min-width:300px;
	max-width:800px;
	height:70%;
	min-height:300px;
	position:absolute;
	z-index:5;
	background:rgb(12, 12, 12);
	color: white;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	overflow:auto;
}

/* 最大container。 */
#main{
	width:100vw;
	height: 100vh;
	margin:auto;
	/* border: none; */
	/* border: white 1px solid;  */
	position:relative;
}

.ti{
	width:100%;
	height:100px;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
}

.dbor{
	border:#EE7728 double 3px;
	margin:1px;
	padding:2px 10px 2px 10px;
}

/* 進站總人數 */
.total{
	font-weight:800;
	display:block;
	text-align:center;
	padding:5px 1px 5px 1px;
}

/* 每個admin的主題theme */
.t{
	font-size: 2em;
	display:block;
	text-align:center;
	padding:2px;
	top: 0;
	bottom:0;
}

.botli{
	border-bottom: white 5px dotted;
}

.mainmu{
	position:relative;
	border-radius:10px;
	background:url(../icon/menu.fw.png) center no-repeat;
	background-size:cover;
	line-height:30px;
	padding:2px 10px 2px 10px;
	margin:7px 1px 7px 1px;
}

.mainmu:hover{
	background:url(../icon/menu2.fw.png) center no-repeat;
	background-size:cover;
}

.mainmu2{
	position:relative;
	border-radius:10px;
	background:url(../icon/menu3.fw.png) center no-repeat;
	background-size:100% 100%;
	line-height:30px;
	padding:2px 10px 2px 10px;
	margin:7px 1px 7px 1px;
}

.mainmu2:hover{
	background:url(../icon/menu4.fw.png) center no-repeat;
	background-size:cover;
}

/* #lf{
	height:540px;
	width:21%;
	display:inline-block;
} */

#menuput{
	width:100%;
	height:75%;
	position:relative;
	padding:5px;
	display:block;
	margin: 3px;
}

.di{
	display:inline-block;
}

.ad{
	margin:1px;
	padding:2px 10px 2px 10px;
}

.cent{
	text-align:center;
	font-family: "Microsoft JHengHei" ;
}

/* 工作經歷的textarea */
.textbox{
	border: 1px solid rgba(250,250,250, 0.3);;
	background-color: transparent;
	vertical-align:top;
	padding:2.5px;
	margin:0px;
	width: 100%;
	padding: 5px;
	height: 200px;
	font-family: "Microsoft JHengHei" ;
	font-size: 1em;
}

.textbox2{

	background-color: transparent;
	vertical-align:top;
	padding:2.5px;
	margin:0px;
	width: 90%;
	padding: 5px;
	height: 180px;
	font-family: "Microsoft JHengHei" ;
	font-size: 1em;
}

input[type=text],input[type=password]{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(250,250,250, 0.3);
	padding: 5px 10px;
	font-family: "Microsoft JHengHei" ;
	font-size: 1em;
	margin:1px;
	
}


input[type=submit],input[type=reset],
input[type=button], input[type=file]{
	background-color: white;
	padding: 5px 10px;
	border: none;
	font-family: "Microsoft JHengHei" ;
	font-size: 1em;
	margin:5px;
}

input:active,button:active{
	background:pink;
}

input:focus,button:focus{
	box-shadow:#09C 0px 0px 3px .3px;
}

.yel td{	
	/* background:#F3DA49; */
	/* background:rgb(73, 237, 243, 0.5); */
	background:rgb(200, 200, 200, 0.5);
	text-align:center;	
}

.trce td{
	text-align:center;
}

/* mer */
.titleTd{
	text-align:center;
	vertical-align:top;
}

.bl{
	/* color:#0CF; */
	cursor:pointer;
	text-decoration:none;
}
.im{
	width:160px;
	height:110px;
	text-align:center;
	margin:2px auto;
}

.im img{
	width:150px;
	height:103px;
	border:3px solid orange;
}

/* merinda */

a {
	text-decoration:none;
}

/* navigate 使用 */

.header {
    background-image: linear-gradient(to left, #744487, #387ec8, #00b3df, #1de0cf);
	font-size: 1em;
    padding: 1px;
	text-align: center; 
	margin:0px;
    position: sticky;
	top:0px;
	z-index:100;
/* 黏在視窗上方 sticky, top 0 */
    border-bottom: 1px solid rgba(250,250,250, .7);
}

ul {
    list-style-type: none;
    margin: 0px;
	padding: 0px;  
	height: 10%;   
}
.header li {
    display: inline;
}
.header a {
    color: white;
    font-size: 1.15em;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 2px 10px;

}
li a:hover {
    background-color: rgba(198, 137, 204, 0.85);
    color: saddlebrown;
    font-size: 105%;
    border-radius: 20px;
    font-weight: bold;
}
/* navigate 使用結束 */


/*container*/


.autobiContainer2{
	display: flex;
	width:70%;
	padding: 20px;
	flex-direction: row;
	margin: auto;
}

.containerLog{
	display: flex;
	margin: auto;
	width:300px;
	height:250px;
	padding: 20px;
	z-index:100;
}

.containerXXL{

	display: flex;
	width:70%;
	background-color:transparent;
	margin: auto;
	/* 設margin:auto內容才會置中 */
	flex-direction: row;
	flex-wrap: wrap;	
	padding: 20px;
	flex-direction: row;
	position: relative;
	justify-content: center;

}

.containerMM{
	width: 80%;
	height: 80%;
	margin-top: 20px;
}








